@using EventsWebsite.Models;
@model IEnumerable<EventsViewModel>
@{
    ViewBag.Title = "Последни събития";
}

<style>
    /* Стилове за картичките със събития */
    .event-card {
        margin-bottom: 20px; /* Добавяне на марджин отдолу за разстояние между картичките */
    }
</style>

<body>
    <div class="container">
        <!-- За да ограничите ширината на съдържанието -->
        <div class="row">
            <div class="col">
                <!-- Използвайте колони за адаптивност -->
                <center>
                    @foreach (var evt in Model)
                    {
                        <a href="@Url.Action("Details", "Event", new { id = evt.Id })" class="event-card">
                            <div class="card text-bg-dark position-relative">
                                <img src="@evt.ImageUrl" class="card-img img-fluid" alt="Event Image">
                                <div class="card-img-overlay">
                                    <h5 class="card-text">@evt.Name</h5>
                                </div>
                            </div>
                        </a>
                    }
                </center>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}




