<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Homes" asp-action="Index">Начало</a>
    </li>
      <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Homes" asp-action="TicketOrders">Поръчки за билети</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Homes" asp-action="WineOrders">Поръчки за вино</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="All">Всички клиенти</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Homes" asp-action="AllMessages">Съобщения</a>
    </li>
   
     
</ul>