<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Homes" asp-action="AddEvent">Добавяне на събитие</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Homes" asp-action="AddRecipe">Добавяне на рецепта</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Homes" asp-action="AddWine">Добавяне на вино</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Homes" asp-action="All">Вина</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="All">Събития</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Recipe" asp-action="All">Рецепти</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Homes" asp-action="TicketOrders">Поръчки за билети</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Homes" asp-action="WineOrders">Поръчки за вино</a>
    </li>
</ul>