@model IndexViewModel 
@{
    ViewData["Title"] = "Home Page";
}

<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Най-доброто място за вино!</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">От Петър Карапетров</p>
                @*<a class="btn btn-primary btn-xl" href="#about">Купи анлайн.</a>*@
                <li class="btn btn-primary btn-xl">
                    <a class="nav-link" asp-area="" asp-controller="Wine" asp-action="All">Купи онлайн</a>
                </li>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">За нас</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4 ">В дълбините на живописния наш край, сред плодородни полета и възхитителни виноградни лозя, се крие семейната тайна на винопроизводството в нашата родова лоза. Това не е просто вино, то е плод на страстта, предавана от поколение на поколение. Нашият баща, като истински майстор винопроизводител, е превърнал своята любов към земята и лозята в изкуство. Нашите вина не са просто напитки, те са история, вложена във всяка капка. С уебсайта си ние искаме да споделим не само вкуса на нашите вина, но и част от нашата семейна история, която винаги е била свързана със земята, с любовта и с традициите. Добре дошли в света на нашите вина - светът на изтънчения вкус и богатите емоции</p>
            </div>
        </div>
    </div>
</section>
 
<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/fullsize/recipes.jpg" alt="recipes" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Рецепти</div>
                        <div class="project-name">Разнообразие от рецепти.</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/fullsize/wine.jpg" alt="wine" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Вино</div>
                        <div class="project-name">Най-доброто вино на пазара.</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/fullsize/events.jpg" alt="event" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Събития</div>
                        <div class="project-name">Всяка седмица ново събитие.</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Нещо повече:</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Обслужване на клиенти:</h3>
                    <p class="text-muted mb-0">0700 20 232</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">E-mail</h3>
                    <p class="text-muted mb-0">info@bestwines.com</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Адрес:</h3>
                    <p class="text-muted mb-0">Предстои откриване, следи сайта за повече информация.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Направено с любов!</h3>
                    <p class="text-muted mb-0">Възможно ли е да е толково добро, без да е направено с любов?</p>
                </div>
            </div>
        </div>
    </div>
</section>
 
 