@model IndexViewModel
 

@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Здравей, Админ!</h2>
    <p class="lead mb-1 mt-3">
        Това е твоето администраторско меню - тук можеш да  <b>създваш</b> и <b>изтриваш</b>,
        рецепти, вино, събития.
        
    </p>
    <p class="lead mt-1">
        Също така може да видиш <b>всички клиенти</b> и <b>техните поръчки и съобщения</b> в системата.
    </p>
    <hr class="my-4">
    <a asp-area="Admin" asp-controller="Homes" asp-action="AddRecipe"
       class="btn btn-primary btn-lg">Добавяне на рецепта</a>
    <a asp-area="Admin" asp-controller="Homes" asp-action="AddWine"
       class="btn btn-primary btn-lg">Добавяне на вино</a>
    <span>  |   </span>
    <a asp-area="Admin" asp-controller="Homes" asp-action="AddЕvent"
       class="btn btn-primary btn-lg">Добавяне на събитие</a>
    <span>  |   </span>
</div>


